<ul class="links">
  <li>
    <a href="{{ site.data.meta.links.forum }}">
      <i class="fa fa-comments"></i>&nbsp;Forum
    </a>
  </li>
  <li>
    <a href="{{ site.data.meta.links.wiki }}">
      <i class="fa fa-wikipedia-w"></i>&nbsp;Wiki
    </a>
  </li>
  <li>
    <a href="{{ site.data.meta.links.github }}">
      <i class="fa fa-github"></i>&nbsp;Github
    </a>
  </li>
  <li>
    <a href="{{ site.data.meta.links.gitlab }}">
      <i class="fa fa-gitlab"></i>&nbsp;Gitlab
    </a>
  </li>
</ul>