
/* GENERIC HTML TAGS */

html {
  font-family: 'roboto_condensed', Verdana, sans-serif;
  font-size: 10px;
}
@media (min-width: 1281px) {
  html {
    font-size: 14px;
  }
}
body {
  font-size: 1.8rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #efefef;
  color: #1a1a1a;
}

a {
  font-weight: bold;
  color: #1a1a1a;
}

a:hover {
  color: #e54b4b;
}

ul {
  padding: 0;
}

ul > li {
  list-style: none;
}

#wrapper {
  position: relative;
}

#navbar {
  font-family: 'intro_regular', sans-serif;
  padding: 25px;
  min-height: 256px;
  box-shadow: #1a1a1a 1px 1px 3px;
}
#navbar a {
  font-weight: normal;
}

#content {
  position: relative;
  display: block;
  margin: 0 auto;
}

/* CONTAINERS, ROWS, COLS */

.container {
  padding: 25px;
  max-width: 768px;
}

.row {
  display: block;
  position: relative;
  min-height: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
  float: none;
  clear: both;
}
.row::after {
  content: "";
  display: block;
  float: none;
  clear: both;
  min-height: 1px;
  width: 100%;
}
.col {
  display: block;
  float: none;
  clear: both;
  width: 100%;
}
@media (min-width: 768px) {
  .col {
    display: block;
    float: left;
    clear: none;
  }
  .col-small {
    width: 256px;
  }
  .col-big {
    width: 66.6666666%;
  }
}
@media (min-width: 1281px) {
  .col-small {
    width: 426px;
  }
}

/* LINKS */

.links {
  font-family: 'intro_regular', sans-serif;
  padding: 0;
  margin: 0;
}

.links li {
  display: inline-block;
  list-style-type: none;
}

.links a {
  padding: 0 16px 0 0;
  font-weight: normal;
  text-decoration: none;
  color: #efefef;
}

.links a:hover {
  color: #75ffba;
}

/* SITE HEADER */

.site-header {
  background-color: #1f2830;
  color: #efefef;
  padding: 25px;
}
.site-title {
  font-family: 'intro_regular', sans-serif;
}
.site-title a {
  font-weight: normal;
  color: #efefef;
  text-decoration: none;
}

.site-title a:hover {
  color: #e54b4b;
}

.site-desc {
  margin: 0;
  padding: 15px 0;
}

/* SITE FOOTER */

.site-footer {
  background-color: #1f2830;
  color: #efefef;
  padding: 25px;
}

.credits {
  margin: 25px 0 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.credits a {
  color: #efefef;
}

.credits a:hover {
  color: #75ffba;
}
