<!doctype <!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }} | {{ post.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for file in site.static_files %}
      {% if file.name == site.data.meta.stylesheet %}
        {% assign stylesheet_path = file.path %}
        {% break %}
      {% endif %}
    {% endfor %}
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ site.url }}/assets/fonts/intro/stylesheet.css" />
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ site.url }}/assets/fonts/roboto-condensed/stylesheet.css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          media="screen" href="{{ stylesheet_path }}" />
  </head>

  <body>
    <div id="wrapper">
      {%- include header.html -%}
      <div id="content">
        <div class="row">
          <div class="col col-small">
            <div class="container">
              {%- include navbar.html -%}
            </div>
          </div>
          <div class="col col-big">
            <div class="container">
              {{ content }}
            </div>
          </div>
        </div>
        
      </div>
      {%- include footer.html -%}
    </div>
  </body>
</html>